<!-- model IEnumerable<RestoApp.ViewModel.EmployeeViewModel> -->
 @model  RestoApp.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de empleados</h1>

<p>
    <a asp-action="Create">Añadir nuevo empleado</a>
</p>

<form asp-controller="Employees" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <!--Html.DisplayNameFor(model => model.Employee.First_Name) -->
                Nombre
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.Employee.Last_Name) -->
                Apellido
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.Employee.Dni) -->
                Dni
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.Employee.Area_Name) -->
                Roll
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area_Name)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Employee_ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Employee_ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Employee_ID">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>


